/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* éëçﬁÉçÉO */
.default-color0.chart-line-symbol {
    -fx-background-color: rgb(0,128,0), white;
}
.default-color0.chart-series-line {
    -fx-stroke: rgb(0,128,0);
}
.default-color1.chart-line-symbol {
    -fx-background-color: rgb(102,51,0), white;
}
.default-color1.chart-series-line {
    -fx-stroke: rgb(102,51,0);
}
.default-color2.chart-line-symbol {
    -fx-background-color: rgb(128,128,128), white;
}
.default-color2.chart-series-line {
    -fx-stroke: rgb(128,128,128);
}
.default-color3.chart-line-symbol {
    -fx-background-color: rgb(204,51,0), white;
}
.default-color3.chart-series-line {
    -fx-stroke: rgb(204,51,0);
}
.chart-series-line {
    -fx-stroke-width: 1px;
}
