/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-font-family: "Meiryo UI";
    -fx-font-weight: normal;
}
.table-cell {
    -fx-alignment: center-left;
}
.increment-button ,.decrement-button {
    -fx-padding: 6px;
}

/* メインウインドウ */
.mainWindow .titled-pane .content VBox {
    -fx-padding: 0px;
}
.mainWindow .buttons {
    -fx-padding: 2px;
}
.mainWindow .itemButton {
    -fx-padding: 5px;
}
.mainWindow .shipButton {
    -fx-padding: 5px;
}
.mainWindow TabPane {
    -fx-tab-max-width: 4em;
}
.mainWindow TabPane .tab-label {
    -fx-font-size: 1.1em;
}
.mainWindow TabPane .tab.alert {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, red, transparent);
}
.mainWindow TabPane .tab.alert .tab-label {
    -fx-text-fill: white;
}
.mainWindow TabPane .tab.warn {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #FFD700, transparent);;
}
.mainWindow TabPane .tab.warn .tab-label {
}
.mainWindow TabPane .message {
    -fx-font-size: 10pt;
}
.mainWindow TabPane .fuel {
    -fx-pref-width: 24px;
    -fx-pref-height: 16px;
}
.mainWindow TabPane .fuel .progress {
}
.mainWindow TabPane .fuel .track{
}
.mainWindow TabPane .fuel .bar {
    -fx-background-color: #008000;
}
.mainWindow TabPane .bull {
    -fx-pref-width: 24px;
    -fx-pref-height: 16px;
}
.mainWindow TabPane .bull .progress {
}
.mainWindow TabPane .bull .track{
}
.mainWindow TabPane .bull .bar {
    -fx-background-color: #663300;
}
.mainWindow TabPane .deepgreen {
    -fx-text-fill: rgb(0, 60, 0);
}
.mainWindow TabPane .green {
    -fx-text-fill: rgb(0, 128, 0);
}
.mainWindow TabPane .orange {
    -fx-text-fill: rgb(255, 140, 0);
}
.mainWindow TabPane .red {
    -fx-text-fill: rgb(255, 16, 0);
}
.mainWindow .mission .progress {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.mainWindow .mission .progress .track{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.mainWindow .mission .progress .bar {
    -fx-background-color: #fff3b3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.mainWindow .mission.stage1 .progress .bar {
    -fx-background-color: #fff4b9;
}
.mainWindow .mission.stage2 .progress .bar {
    -fx-background-color: #FFEF99;
}
.mainWindow .mission.stage3 .progress .bar {
    -fx-background-color: #FFD700;
}
.mainWindow .mission.empty {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #87CEFA, transparent);
}
.mainWindow .mission .fleet {
    -fx-font-size: 9pt;
}
.mainWindow .mission .name {
    -fx-font-size: 14pt;
}
.mainWindow .mission .time {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.mainWindow .ndock .name {
    -fx-font-size: 10pt;
}
.mainWindow .ndock .time {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.mainWindow .ndock.stage1 {
    -fx-background-color: #FFF7CB;
}
.mainWindow .ndock.stage2 {
    -fx-background-color: #FFEF99;
}
.mainWindow .ndock.stage3 {
    -fx-background-color: #FFD700;
}

/* 所有装備一覧 */
.itemWindow .detailName {
    -fx-font-size: 16pt;
}

/* 所有艦娘一覧 */
.shipWindow .tab-pane .tab-label {
    -fx-tab-min-width: 4em;
    -fx-font-size: 1.2em;
}
.shipWindow .message {
    -fx-font-size: 12pt;
}
/* キャプチャ */
.captureWindow .capture {
    -fx-font-weight: bold;
}
/* 資材ログ */
.default-color0.chart-line-symbol {
    -fx-background-color: rgb(0,128,0), white;
}
.default-color0.chart-series-line {
    -fx-stroke: rgb(0,128,0);
}
.default-color1.chart-line-symbol {
    -fx-background-color: rgb(102,51,0), white;
}
.default-color1.chart-series-line {
    -fx-stroke: rgb(102,51,0);
}
.default-color2.chart-line-symbol {
    -fx-background-color: rgb(128,128,128), white;
}
.default-color2.chart-series-line {
    -fx-stroke: rgb(128,128,128);
}
.default-color3.chart-line-symbol {
    -fx-background-color: rgb(204,51,0), white;
}
.default-color3.chart-series-line {
    -fx-stroke: rgb(204,51,0);
}
.chart-series-line {
    -fx-stroke-width: 1px;
}
/* 設定 */
.configWindow .configInner,.configWindow .footer {
    -fx-padding: 10px;
}
