/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-font-family: "Meiryo UI";
    -fx-font-weight: normal;
}
.table-cell {
    -fx-alignment: center-left;
}
.increment-button ,.decrement-button {
    -fx-padding: 6px;
}

/* 所有装備一覧 */
.itemWindow .detailName {
    -fx-font-size: 16pt;
}

/* 所有艦娘一覧 */
.shipWindow .tab-pane .tab-label {
    -fx-tab-min-width: 4em;
    -fx-font-size: 1.2em;
}
.shipWindow .message {
    -fx-font-size: 12pt;
}
/* キャプチャ */
.captureWindow .capture {
    -fx-font-weight: bold;
}
/* 設定 */
.configWindow .configInner,.configWindow .footer {
    -fx-padding: 10px;
}
