.root {
    -fx-font-family: "Meiryo UI";
    -fx-font-weight: normal;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.table-cell {
    -fx-alignment: center-left;
}
.increment-button ,.decrement-button {
    -fx-padding: 0.5em;
}
.titled-pane > .title {
    -fx-padding: 0.16665em 0.75em 0.16665em 0.75em; /* 2 9 2 9 */
}
.align_right {
    -fx-alignment: center_right;
}