/* フィルター */
.filter VBox {
    -fx-padding: .1em;
    -fx-min-width: 6em;
    -fx-max-width: 16em;
}
.filter CheckComboBox {
    -fx-min-width: 6em;
}
.filter .label {
    -fx-font-weight: bold;
}
/* 集計 */
.aggregate {
    -fx-max-height: 24em;
}
