:enablebgimage.image {
	-fx-background-repeat: no-repeat;
}
:enablebgimage.image .content {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-padding: 6px;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255, 0.6), 6, 0.6, 0, 0);
}
:enablebgimage.image .label,:enablebgimage.image .hyperlink {
    -fx-effect: dropshadow(gaussian, white, 3, 0.8, 0, 0);
}
