/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* メインウインドウ */
.titled-pane .content VBox {
    -fx-padding: 0px;
}
.buttons {
    -fx-padding: 2px;
}
.itemButton {
    -fx-padding: 5px;
}
.shipButton {
    -fx-padding: 5px;
}
TabPane {
    -fx-tab-max-width: 4em;
}
TabPane .tab-label {
    -fx-font-size: 1.1em;
}
TabPane .tab.alert {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, red, transparent);
}
TabPane .tab.alert .tab-label {
    -fx-text-fill: white;
}
TabPane .tab.warn {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #FFD700, transparent);;
}
TabPane .tab.warn .tab-label {
}
TabPane .message {
    -fx-font-size: 10pt;
}
TabPane .fuel {
    -fx-pref-width: 24px;
    -fx-pref-height: 16px;
}
TabPane .fuel .progress {
}
TabPane .fuel .track{
}
TabPane .fuel .bar {
    -fx-background-color: #008000;
}
TabPane .bull {
    -fx-pref-width: 24px;
    -fx-pref-height: 16px;
}
TabPane .bull .progress {
}
TabPane .bull .track{
}
TabPane .bull .bar {
    -fx-background-color: #663300;
}
TabPane .deepgreen {
    -fx-text-fill: rgb(0, 60, 0);
}
TabPane .green {
    -fx-text-fill: rgb(0, 128, 0);
}
TabPane .orange {
    -fx-text-fill: rgb(255, 140, 0);
}
TabPane .red {
    -fx-text-fill: rgb(255, 16, 0);
}
.mission .progress {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.mission .progress .track{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.mission .progress .bar {
    -fx-background-color: #fff3b3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.mission.stage1 .progress .bar {
    -fx-background-color: #fff4b9;
}
.mission.stage2 .progress .bar {
    -fx-background-color: #FFEF99;
}
.mission.stage3 .progress .bar {
    -fx-background-color: #FFD700;
}
.mission.empty {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #87CEFA, transparent);
}
.mission .fleet {
    -fx-font-size: 9pt;
}
.mission .name {
    -fx-font-size: 14pt;
}
.mission .time {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.ndock .name {
    -fx-font-size: 10pt;
}
.ndock .time {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.ndock.stage1 {
    -fx-background-color: #FFF7CB;
}
.ndock.stage2 {
    -fx-background-color: #FFEF99;
}
.ndock.stage3 {
    -fx-background-color: #FFD700;
}
.fully {
    -fx-base: #FFD700;
}
