/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* メインウインドウ */
.titled-pane .content VBox {
    -fx-padding: 0px;
}
.buttons {
    -fx-padding: 2px;
}
.itemButton {
    -fx-padding: 5px;
}
.shipButton {
    -fx-padding: 5px;
}
TabPane {
    -fx-tab-max-width: 4em;
}
TabPane .tab-label {
    -fx-font-size: 1.1em;
}
TabPane .tab.alert {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, red, transparent);
}
TabPane .tab.alert .tab-label {
    -fx-text-fill: white;
}
TabPane .tab.warn {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #FFD700, transparent);
}
TabPane .tab.warn .tab-label {
}
TabPane .tab.empty {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #87CEFA, transparent);
}
TabPane .tab.empty .tab-label {
}
TabPane .message {
    -fx-font-size: 10pt;
}
TabPane .hp {
    -fx-min-width: 4.25em;
}
TabPane .deepgreen {
    -fx-text-fill: rgb(0, 60, 0);
}
TabPane .green {
    -fx-text-fill: rgb(0, 128, 0);
}
TabPane .orange {
    -fx-text-fill: rgb(255, 140, 0);
}
TabPane .red {
    -fx-text-fill: rgb(255, 16, 0);
}
TabPane .value {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.mission .progress {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.mission .progress .track{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.mission .progress .bar {
    -fx-background-color: #fff3b3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.mission.stage1 .progress .bar {
    -fx-background-color: #fff4b9;
}
.mission.stage2 .progress .bar {
    -fx-background-color: #FFEF99;
}
.mission.stage3 .progress .bar {
    -fx-background-color: #FFD700;
}
.mission.empty {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #87CEFA, transparent);
}
.mission .fleet {
    -fx-font-size: 9pt;
}
.mission .name {
    -fx-font-size: 14pt;
}
.mission .time {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.ndock .name {
    -fx-font-size: 10pt;
}
.ndock .time {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.ndock.stage1 {
    -fx-background-color: #FFF7CB;
}
.ndock.stage2 {
    -fx-background-color: #FFEF99;
}
.ndock.stage3 {
    -fx-background-color: #FFD700;
}
/* 任務 */
.quest {
    -fx-font-size: 9pt;
}
.quest .name {
    -fx-font-size: 14pt;
}
.quest:hover .name {
    -fx-font-size: 9pt;
}
.quest .progress {
    -fx-background-color: #007b43;
    -fx-text-fill: white;
}
.quest .remove {
    -fx-text-fill: #d9333f;
	-fx-padding: 0;
}
.quest .search {
	-fx-padding: 0;
}
/* 編成 */
.quest.deck {
    -fx-background-color: #c1d8ac;
}
.quest.deck .type {
    -fx-background-color: #007b43;
    -fx-text-fill: white;
}
/* 出撃 */
.quest.sortie {
    -fx-background-color: #fdeff2;
}
.quest.sortie .type {
    -fx-background-color: #e60033;
    -fx-text-fill: white;
}
/* 演習 */
.quest.practice {
    -fx-background-color: #cee4ae;
}
.quest.practice .type {
    -fx-background-color: #3eb370;
    -fx-text-fill: white;
}
/* 遠征 */
.quest.mission {
    -fx-background-color: #ebf6f7;
}
.quest.mission .type {
    -fx-background-color: #007bbb;
    -fx-text-fill: white;
}
/* 補給 */
.quest.supply {
    -fx-background-color: #fefea0;
}
.quest.supply .type {
    -fx-background-color: #ffd900;
}
/* 工廠 */
.quest.kousyou {
    -fx-background-color: #d3cbc6;
}
.quest.kousyou .type {
    -fx-background-color: #98623c;
    -fx-text-fill: white;
}
/* 改装 */
.quest.kaisou {
    -fx-background-color: #dbd0e6;
}
.quest.kaisou .type {
    -fx-background-color: #7058a3;
    -fx-text-fill: white;
}
.fully {
    -fx-base: #FFD700;
}
