/* 所有艦娘一覧 */
.shipWindow .tab-pane .tab-label {
    -fx-tab-min-width: 4em;
    -fx-font-size: 1.2em;
}
.shipWindow .message {
    -fx-font-size: 12pt;
}

TabPane .deepgreen {
    -fx-text-fill: rgb(0, 60, 0);
}
TabPane .green {
    -fx-text-fill: rgb(0, 128, 0);
}
TabPane .orange {
    -fx-text-fill: rgb(255, 140, 0);
}
TabPane .red {
    -fx-text-fill: rgb(255, 16, 0);
}
.table-row-cell .none {
    -fx-background-color: lightgray;
}
.table-row-cell:selected .none {
    -fx-background-color: none;
}
.toggle-switch {
    -fx-font-weight: bold;
}
